<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/book.css">
</head>
<body>
{% for elem in list %}
  {% for k,v in elem.iteritems()%}
    {%if v == title %}
     <div id="img"> <img src={{elem.cover}}></div>
      <table>
      <tr>
      <td>Title:</td>
      <td>{{elem.title}}</td>
      </tr>

      <tr>
      <td>Author:</td>
      <td>{{elem.author}}</td>
      </tr>

      <tr>
      <td>Genre:</td>
      <td>{{elem.genre}}</td>
      </tr>

      <tr>
      <td>Publisher:</td>
      <td>{{elem.publisher}}</td>
      </tr>

      <tr>
      <td>Released:</td>
      <td>{{elem.published}}</td>
      </tr>
      <tr>
      <td>Blurb:</td>
      <td>{{elem.blurb}}</td>

    {% endif%}
  {%endfor%}
{%endfor%}
</table>
</body>
</html>

