<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
<div id="wrapper">
<h1>My Bookcase</h1>
<div id="main">
 <div id="menu">
 <h2>View by:</h2>
 <ul id ="list">
 <li><a href ="{{url_for('titles')}}">Titles</a></li>
 <li><a href ="{{url_for('author')}}">Authors</a></li>
 <li><a href ="{{url_for('genre')}}">Genre</a></li>
 <li><a href ="{{url_for('publisher')}}">Publisher</a></li>
 <li><a href ="{{url_for('year')}}">Year</a></li>
 </ul>
 </div>
 <div id ="add">
  <h2>Add New Book</h2>
  <p>all that adding stuff</p>
 </div>
</div>
</div>
</body>
</html>

